<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Page Title - SB Admin</title>
        <link href="/api/public/css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-white">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header bg-primary"><h3 class="text-center font-weight-heavy text-white my-4">Assign Freelancer</h3></div>
                                    <div class="card-body">
                                        <% let action = "/api/support/freelancer/assign/" + projectId %>
                                        <% let remove = "/api/support/freelancer/remove/" + projectId %>
                                        <form action="<%= action %>" method="POST">
                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <div class="form-group"><label class="small mb-1" for="inputFirstName">Project Id</label><input class="form-control py-4" id="inputFirstName" value="<%= projectId %>" type="text" placeholder="Project Id here" /></div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group"><label class="small mb-1">Project Name</label><h2 style="opacity: 50%;"><%= projectName %></h2></div>
                                                </div>
                                            </div>
                                            
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group"><label class="small mb-1" for="inputPassword">Freelancer ID</label><input class="form-control py-4" id="id" name="id" type="text" placeholder="Enter Id here" /></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group"><label class="small mb-1" for="inputConfirmPassword">Username</label><input class="form-control py-4" id="username" name="username" type="text" placeholder="or username here" /></div>
                                                </div>
                                            </div>
                                            <div class="form-group mt-4 mb-0 row justify-content-center mb-4"><button class="btn btn-primary" type="submit">Assign</button> &nbsp;&nbsp;&nbsp; <a class="btn font-weight-bold" href="/api/support/projects">Cancel</a></div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="<%= remove %>">Remove Assigned Freelancer</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <!-- <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2019</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div> -->
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/api/public/js/scripts.js"></script>
    </body>
</html>
